<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="light" lang="en"><head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Kinetic Court Admin - Facility Management</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;family=Montserrat:wght@600;700;800&amp;family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet"/>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <script th:src="@{/js/tailwind-config.js}"></script>
</head>
<script>
    function toggleDropdown(event) {
      event.stopPropagation();
      document.getElementById("profileDropdown").classList.toggle("hidden");
  }

  window.addEventListener("click", function () {
      document.getElementById("profileDropdown").classList.add("hidden");
  });
</script>
<body class="bg-surface-bright text-on-background font-body-md text-body-md overflow-x-hidden">
<!-- SIDE NAVIGATION SHELL -->
<div th:replace="owner/fragments/Navbar:: navbar"></div>
<!-- TOP NAVIGATION SHELL -->
<div th:replace="owner/fragments/Header:: header_owner"></div>
<!-- MAIN CONTENT CANVAS -->
<div layout:fragment="main"></div>

<script th:src="@{/js/premium-card-shadow.js}"></script>

<script th:src="@{/js/court.js}"></script>
<script th:src="@{/js/facility-filter.js}"></script>
<script th:src="@{/js/time_slot.js}"></script>
<script th:src="@{/js/schedule-owner.js}"></script>
<script th:src="@{/js/openDetailModal.js}"></script>
</body></html>